C-SAW/*
alias-method/*
build/*
bin/*
deps/*
bin_old/*

perf_result/*
.clangd/*
.VSCodeCounter/*

*.o
*.cubin
*.fatbin
*.fatbin.*
*.reg.cu
*.ii
*.gpu
*.stub.c
*.module_id
*.cudafe1.*
*.reg.c
*.ptx
*.ncu-rep
